body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* To prevent scrollbars */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh; /* Adjust as needed */
}

#letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
    justify-content: center;
}

.letter {
    font-size: 3rem;
    color: white;
    position: relative;
    animation: walk 2s infinite;
}

@keyframes walk {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.emoji {
    position: absolute;
    font-size: 2rem; /* Adjust size as needed */
    animation: wave 2s infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 600px) {
    .letter {
        font-size: 2rem;
    }

    .emoji {
        font-size: 1.5rem;
    }
}
